body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.349);
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #111;
}

h3 {
    margin: 5px 0;
    background-color: rgba(22, 22, 22, 0.35);
    text-align: center;
}

.spisok {
  list-style-type: none;
  padding: 0 0 0 5px;
}

.avatar {
    border-radius: 50%;
    box-shadow: 0 0 7px #666;
    height: auto;
    max-width: 80%;
}

.img {
    height: auto;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.project {
    text-align: center;
}

.skills-list {
    list-style-type: square;
}

.photo-name,
.presentation,
.contacts {
    margin: 10px 0;
    text-align: center;
}

.photo-name {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1400px;
    background-color: gray;
}

.body-wrapper {
    flex: 1 0 auto;
    display: flex;
}

.footer-wrapper {
    background-color: rgba(221, 224, 26, 0.623);
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    max-height: 70px;
    margin: 0;
    padding: 0;
}

.github-link {
    font-size: 20px;
    margin: auto 10px;
}

.year {
    font-size: 20px;
    margin: auto 10px;
}

.rs-link {
    margin: auto 10px;
}

.first-block {
    display: flex;
    max-width: 20%;
    background-color: rgba(0, 0, 0, 0.35);
    flex-direction: column;
    align-items: space-between;
}

.second-block {
    display: flex;
    flex-direction: column;
}

.third-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.experience,
.education,
.english,
.code {
    width: 40%;
    margin: 15px 0;
    text-align: center;
}

.second-block {
    padding: 0 10px;
}

.projects-wrapper {
    display: flex;
    justify-content: space-between;
}

.project {
    max-width: 45%;
    margin: 20px 0;
}

.pre-code {
    display: inline-block;
    text-align: left;
    font-size: 12px;
}
