@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.349);
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #111;
}

.nav > ul > li {
    list-style-type: none;
    padding: 0 0 0 5px;
    text-align: center;
}

.nav > ul {
    padding: 0;
}

.photo-name > h2 {
    font-size: 24px;
    padding: 0;
    margin: 0 0 5px;
    display: block;
}

h1,
h3 {
    margin: 5px 0;
    background-color: rgba(56, 58, 46, 0.452);
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 16px;
}

.spisok {
    list-style-type: none;
    padding: 0 0 0 5px;
}

.avatar {
    padding: 5px 0;
    border-radius: 50%;
    box-shadow: 0 0 3px #666;
    height: auto;
    max-width: 80%;
}

.img {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.project {
    border: dotted;
    border-color: black;
    border-radius: 1%;
    text-align: center;
    width: 85%;
}

.skills-list {
    list-style-position: inside;
    list-style-type: square;
    align-self: center;
    padding: 0;
}

.photo-name,
.presentation,
.contacts {
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
}

.photo-name {
    text-align: center;
    background-color: rgb(235, 235, 18);
    color: black;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1400px;
    background-color: gray;
}

.body-wrapper {
    flex: 1 0 auto;
    display: flex;
    max-width: 1400px;
}

.lineika {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.button-burger {
    margin-top: 10px;
    position: fixed;
    max-width: 20px;
    height: 10px;
    z-index: 2;
    appearance: none;
    border: none;
    visibility: hidden;
}

.button-burger > img {
    visibility: visible;
    cursor: pointer;
}

.button-burger:hover {
    transform: scale(1.1);
}

.transparent {
    opacity: 0;
}

.unvisible {
    visibility: hidden;
}

.menubox {
    position: fixed;
    height: 100%;
    z-index: 1;
    width: 20%;
    max-width: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
}

.menu-item {
    display: block;
    padding: 9px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.menu-item:hover {
    background-color: rgb(235, 235, 18);
}

.footer-wrapper {
    background-color: rgb(235, 235, 18);
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    max-height: 5%;
    margin: 0;
    padding: 0;
}

.github-link {
    font-size: 20px;
    margin: auto 10px;
}

.github-link > a {
    color: black;
}

.year {
    font-size: 20px;
    margin: auto 10px;
}

.rs-link {
    margin: auto 10px;
}

.first-block {
    overflow: hidden;
    display: flex;
    width: 20%;
    background-color: black;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
}

.first-block > * {
    width: 100%;
    text-align: center;
}

.second-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.second-block > h3 {
    margin: 0;
}

.third-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

.experience,
.education,
.english {
    max-width: 30%;
    margin: 15px 0;
    text-align: center;
}

.experience > a {
    color: black;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
}

.project {
    max-width: 80%;
    margin: 20px 0;
}

.code {
    padding-top: 10px;
}

.pre-code {
    text-align: left;
}

.presentation {
    font-size: 16px;
    margin: 5px auto;
    position: relative;
}

.presentation > a {
    color: black;
}

.presentation::before {
    content: "→";
    position: absolute;
    left: -35px;
}

.presentation::after {
    content: "←";
    position: absolute;
    right: -35px;
}

@media (max-width: 640px) {
    * {
        font-size: 10px !important;
    }

    .avatar {
        max-width: 25%;
    }

    .wrapper,
    .body-wrapper,
    .first-block {
        display: block;
    }

    .first-block {
        width: 100%;
        text-align: center;
    }

    .contacts-skills {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .skills-list {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        list-style-type: none;
        align-self: center;
    }

    .second-block {
        max-width: 100%;
    }

    .footer-wrapper {
        max-height: 25px;
    }

    .logo {
        max-width: 20px;
        max-height: 20px;
    }

    .burger-menu {
        width: 100%;
        max-width: 100%;
    }

    .menubox {
        min-width: 100%;
    }

    .menu-item {
        padding: 6px 16px;
        font-size: 15px;
    }

    .menu__btn {
        width: 15px;
        height: 15px;
    }
}
