@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.349);
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #111;
}

.nav > ul > li {
    list-style-type: none;
    padding: 0 0 0 5px;
    text-align: center;
}

.nav > ul {
    padding: 0;
}

.photo-name > h2 {
    font-size: 24px;
    padding: 0;
    margin: 0 0 5px;
    display: block;
}

h1,
h3 {
    margin: 5px 0;
    background-color: rgba(56, 58, 46, 0.452);
    text-align: center;
}

.spisok {
    list-style-type: none;
    padding: 0 0 0 5px;
}

.avatar {
    padding: 5px 0;
    border-radius: 50%;
    box-shadow: 0 0 3px #666;
    height: auto;
    max-width: 80%;
}

.img {
    height: auto;
    width: 100%;

    margin: 0 auto;
    display: block;
}

.project {
    border: dotted;
    border-color: black;
    border-radius: 1%;
    text-align: center;
    width: 80%;
}

.skills-list {
    list-style-position: inside;
    list-style-type: square;
    align-self: center;
    padding: 0;
}

.photo-name,
.presentation,
.contacts {
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
}

.photo-name {
    text-align: center;
    background-color: rgb(235, 235, 18);
    color: black;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1400px;
    background-color: gray;
}

.body-wrapper {
    flex: 1 0 auto;
    display: flex;
}

.footer-wrapper {
    background-color: rgb(235, 235, 18);
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    max-height: 5%;
    margin: 0;
    padding: 0;
}

.github-link {
    font-size: 20px;
    margin: auto 10px;
}

.github-link > a {
    color: black;
}

.year {
    font-size: 20px;
    margin: auto 10px;
}

.rs-link {
    margin: auto 10px;
}

.first-block {
    display: flex;
    max-width: 25%;
    background-color: black !important;
    flex-direction: column;
    align-items: center;
    color: white;
}

.second-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75%;
    background-color: white;
    color: black;
}

.third-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
}

.experience,
.education,
.english {
    max-width: 30%;
    margin: 15px 0;
    text-align: center;
}

.experience > a {
    color: black;
}

.second-block {
    padding: 0 10px;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
}

.project {
    max-width: 80%;
    margin: 20px 0;
}

.code {
    padding-top: 10px;
}

.pre-code {
    text-align: left;
}

.presentation {
    font-size: 16px;
    max-width: 80%;
}

iframe {
    display: block;
    border: 0;
}

@media screen and (max-width: 800px) {
    iframe {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

@media (max-width: 560px) {
    * {
        font-size: 10px !important;
    }
    .photo-name {
    }

    .avatar {
        max-width: 25%;
    }

    .wrapper,
    .body-wrapper,
    .first-block {
        display: block;
    }

    .first-block {
        max-width: 100%;
        text-align: center;
    }

    .contacts-skills {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    .skills-list {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        list-style-type: none;
        align-self: center;
    }

    .second-block {
        max-width: 100%;
    }

    .footer-wrapper {
        max-height: 25px;
    }

    .logo {
        max-width: 20px;
        max-height: 20px;
    }
}
